<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--
        Logback推荐使用Groovy配置文件，但是Groovy的检查更严格。比如“${catalina.home}”，转换成Groovy之后，解析时报错。
        将logback*.xml转换成Groovy：http://logback.qos.ch/translator/asGroovy.html
        -->

    <!-- 应用日志文件地址 -->
    <property name="LOG_PATH" value="${catalina.home}/logs/ijleex-dev"/>
    <property name="LOG_CHARSET" value="UTF-8"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%c] %m%n"/>

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <!-- 标准输出，到控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <Encoding>${LOG_CHARSET}</Encoding>
        <!-- <Target>System.out</Target> -->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 基于时间滚动，每天一个目录。当文件大小超过50MB时新生成一个文件 -->
    <appender name="DEBUG-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>
        <encoding>${LOG_CHARSET}</encoding>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyyMMdd}/log%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <!-- keep 10 days' worth of history capped at 3GB total size -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ERROR-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/ERROR/%d{yyyyMMdd}/log%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <!-- keep 10 days' worth of history capped at 3GB total size -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
    </appender>

    <!-- TRACE << DEBUG << INFO << WARN << ERROR << ALL << OFF -->
    <logger name="org.apache.ibatis" level="DEBUG"/>
    <logger name="org.mybatis" level="DEBUG"/>
    <logger name="java.sql" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DEBUG-LOG"/>
        <appender-ref ref="ERROR-LOG"/>
    </root>

</configuration>
